#itemList {
    header {
        position: relative;
        width: 100%;
        max-width: 768px;
        height: 0.8rem;
        background-image: linear-gradient(#ff6040, #ff8a80);

        .search-wrapper-relative {
            display: flex;
            align-items: center;
            justify-content: space-around;
            position: relative;
            width: 100%;
            height: 0.52rem;

            input[type="submit"] {
                position: absolute;
                top: 0.18rem;
                left: 0.12rem;
                background-image: url(../image/search.png);
                width: 0.18rem;
                height: 0.18rem;
                background-size: cover;
                border: 0;
            }

            input[type="text"] {
                outline: none;
                border: 0;
                width: 3.55rem;
                height: 0.32rem;
                padding: 0;
                padding-left: 0.34rem;
                box-sizing: border-box;
                border-radius: 4px;

                font-size: 14px;

                &::placeholder {
                    font-size: 14px;
                }
            }
        }

        .header-nav-relative {
            position: relative;
            width: 100%;
            height: 0.32rem;

            font-size: 14px;
            overflow-x: auto;
            overflow-y: hidden;

            .slider {
                display: flex;
                justify-content: space-around;
                align-items: center;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                white-space: nowrap;
            }

            a {
                font-size: 14px;
                color: #fff;
                padding: 0 0.05rem;
            }

            .highlight {
                font-size: 16px;
            }
        }

        .nav-more {
            display: flex;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 5;
            height: 0.32rem;
            line-height: 0.32rem;
            background-image: linear-gradient(#ff7a68, #ff8a80);

            color: #fff;
            font-size: 14px;

            a {
                color: #fff;
            }
        }
    }

    main {
        height: calc(100vh - 1.63rem);
        overflow-y: auto;
        overflow-x: hidden;

        .box {
            position: relative;
            margin: 0.1rem auto;
            width: 3.56rem;
            height: 0.32rem;
        }

        .banner {
            background-color: #fff4f2;
            text-align: center;
            line-height: 0.32rem;

            font-size: 16px;
            color: #ff6040;
        }

        .border-left-right::before {
            position: absolute;
            left: 0;
            top: 0;

            content: "";
            width: 1px;
            height: 32px;
            background-color: #ff6040;
            transform: scaleX(0.5);
        }

        .border-left-right::after {
            position: absolute;
            right: 0;
            top: 0;

            content: "";
            width: 1px;
            height: 32px;
            background-color: #ff6040;
            transform: scaleX(0.5);
        }

        .border-top-bottom::before {
            position: absolute;
            left: 0;
            top: 0;

            content: "";
            width: 3.55rem;
            height: 1px;
            background-color: #ff6040;
            transform: scaleY(0.5);
        }

        .border-top-bottom::after {
            position: absolute;
            bottom: 0;
            left: 0;

            content: "";
            width: 3.55rem;
            height: 1px;
            background-color: #ff6040;
            transform: scaleY(0.5);
        }

        section {
            width: 3.56rem;
            display: flex;
            flex-direction: column;
            margin: 20px auto;

            .item {
                display: flex;
                width: 3.56rem;
                height: 1.1rem;
                margin-bottom: 0.2rem;

                img {
                    width: 1rem;
                    height: 1rem;
                }

                .description {
                    width: calc(3.56rem - 108px);
                    margin-left: 15px;
                }

                p:nth-of-type(1) {
                    font-size: 16px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                p:nth-of-type(2) {
                    font-size: 14px;
                    color: #999;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                p:nth-of-type(3) span:first-child {
                    font-size: 20px;
                    color: #ff6040;
                }

                p:nth-of-type(3) b:nth-of-type(1) {
                    font-size: 12px;
                    color: #999;
                    text-decoration: line-through;
                }

                p:nth-of-type(3) b:nth-of-type(2) {
                    font-size: 12px;
                    color: #999;
                    margin-left: 10px;
                }

                p:nth-of-type(4) {
                    width: 1.1rem;
                    height: 0.16rem;
                    background-color: #ff8066;
                    font-size: 12px;
                    color: #fff;
                    text-align: center;
                }

                p:nth-of-type(5) {
                    color: #999;
                    font-size: 12px;
                    margin-top: 0.06rem;
                }
            }
        }
    }
}