html{
    font-size: 26.667vw;
}
body{
    font:12px/1.5 "Segoe UI";
}

/* 底部样式开始 */
footer{
    display: flex;
    justify-content: flex-start;
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    max-width: 768px;
    height: .83rem;
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, .3);
    z-index: 10;
}
footer .menu{
    align-items: center;
    flex: 1;
    font-size: .16rem;
    text-align: center;    
}
.menu a{
    display: block;
    height: .83rem;
    line-height: .83rem;
    color: #999;
}
/* 底部样式结束 */