/* 顶部样式开始 */

header{
    position: relative;
    width: 100%;
    max-width: 768px;
    height: .52rem;
    background-image: linear-gradient(#FF6040,#FF8A80);
}
header .search-wrapper-relative{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}
header .search-wrapper-relative input[type="submit"]{
    position: absolute;
    top: .16rem;
    left: .2rem;
    background-image: url(../image/search.png);
    width: .18rem;
    height: .18rem;
    background-size: cover;
    border: 0;
    
}
header .search-wrapper-relative input[type="text"]{
    outline: none;
    border: 0;
    width: 3.55rem;
    height: .32rem;
    padding: 0;
    padding-left: .34rem;
    box-sizing: border-box;
    border-radius: 4px;

    font-size: 14px;
}
header .search-wrapper-relative input[type="text"]::placeholder{
    font-size: 14px;
}
/* 顶部样式结束 */

/* 中部样式开始 */
main{
    display: flex;
    justify-content: space-between;

    height: calc(100vh - 0.83rem - .52rem);
}
main .left-wrapper{
    width: 118px;
    height: 100%;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}
main .right-wrapper{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #f1f1f1;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
main .left-wrapper li{
    margin-top: .3rem;
    text-align: center;
}
main .left-wrapper li a{
    font-size: 14px;
    color: #999;
}
main .left-wrapper li a.highlight{
    color: #FF6040;
    font-size: 16px;
}
main .right-wrapper .sell-box{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-around;

    width: 2.32rem;
    height: 2.18rem;
    background-color: #fff;
    margin-left: 15px;
    margin-bottom: 15px;
}
main .right-wrapper .sell-box>p{
    width: 100%;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}
main .right-wrapper section{
    width: .64rem;
    height: .8rem;
    margin-top: .1rem;
    margin-left: .1rem;
}
main .right-wrapper section p{
    text-align: center;
    color: #999;
    font-size: 12px;
}
/* 中部样式结束 */