.el-header {
    background-color: #518ecb;
    font-size: 30px;
    line-height: 60px;
    color: #fff;
    .userBox{
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        top: 0;
        span{
            margin-right: 20px;
            word-spacing: 10px;
        }
        button{
            margin-right: 20px;
            height: 80%;
            background-color: rosybrown;
            color: #fff;
        }
    }
}

.el-menu {
    background-color: #3d5f81;
    height: calc(100vh - 60px);

    span {
        color: #fff;
    }

    .el-menu-item {
        background-color: #3d5f81;
        color: #fff;
    }
}