main {
    display: flex;
    padding-top: 30px;
}

aside {
    width: 20%;
    box-shadow: 0 -1px 3px 3px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    padding: 20px;

    p {
        position: relative;
        height: 20px;
        font-size: 18px;
        line-height: 20px;
        margin: 20px 0;
        color: #333;

        //三角形混合
        @mixin triangle($a, $b) {
            position: absolute;
            top: 8px;
            right: 0;
            width: 0;
            height: 0;
            border: 5px solid transparent;
            //使用参数,决定哪一方向的三角形显示/隐藏
            //NOTE 如果变量需要镶嵌在字符串之中,就必须要写在#{}里
            border-#{$a}-color: #999; 
            border-#{$b}: 0;
        }

        i.triangle-down {
            @include triangle(top, bottom);
        }

        i.triangle-top {
            @include triangle(bottom, top);
        }

        //P前图标混合
        @mixin beforeImg ($url) {
            display: inline-block;
            content: "";
            background-image: url(../img/userSet/set_0#{$url}.jpg);
            width: 20px;
            height: 20px;
            vertical-align: middle;
            background-size: cover;
        }
        //NOTE 如果要使用for循环完成每次+2则要配合if使用
        @for $i from 1 through 7 {
            @if $i % 2==1 {
                &:nth-child(#{$i})::before {
                    @include beforeImg($i)
                }
            }
        }
    }

    ul {
        color: #666;
        padding-left: 40px;

        li {
            margin: 20px 0;
        }
    }
}

article {
    padding-left: 25px;
    width: 80%;

    .tab {
        border-bottom: 1px solid #ccc;

        span {
            display: inline-block;
            width: 100px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            margin-right: 20px;

            // TAG 控制选项卡样式
            &.active {
                background-color: #74c6b3;
                color: #fff;
                border-radius: 4px;
            }
        }
    }

    .user-info-setting {
        >li {
            display: flex;
            position: relative;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            margin-top: 20px;

            &:first-child {
                justify-content: flex-start;
                height: 60px;

                img {
                    vertical-align: middle;
                    width: 60px;
                }
            }

            &:last-child div {
                display: flex;
                align-items: center;
            }

            //信息输入框混合
            @mixin boxSizing-radius {
                width: 260px;
                border: 1px solid #80C4AE;
                border-radius: 4px;
                overflow: hidden;
                box-sizing: border-box;
                padding-left: 18px;
            }

            div {
                font-size: 0;

                span {
                    font-size: 14px;
                    margin-right: 40px;
                }

                label {
                    font-size: 14px;
                }

                input[type=text] {
                    height: 40px;
                    font-size: 12px;
                    outline: none;
                    @include boxSizing-radius();
                }

                p.select {
                    @extend input[type=text];
                    display: inline-block;
                    font-size: 16px;
                    line-height: 38px;
                    color: #666;
                }
            }

            ul {
                // display: none;
                position: absolute;
                z-index: 1;
                background-color: #fff;
                @include boxSizing-radius();

                li {
                    height: 30px;
                    line-height: 30px;

                    &:hover {
                        background-color: plum;
                    }
                }

                //TAG 控制下拉框的显示
                &:active {
                    display: block;
                }
            }

            &:nth-child(4) ul {
                right: 0;
                top: 39px;
            }

            &:nth-child(5) ul {
                top: 39px;
                left: 96px;
            }
        }
    }
}