main {
  display: flex;
  padding-top: 30px;
}

aside {
  width: 20%;
  box-shadow: 0 -1px 3px 3px rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  padding: 20px;
}

aside p {
  position: relative;
  height: 20px;
  font-size: 18px;
  line-height: 20px;
  margin: 20px 0;
  color: #333;
}

aside p i.triangle-down {
  position: absolute;
  top: 8px;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #999;
  border-bottom: 0;
}

aside p i.triangle-top {
  position: absolute;
  top: 8px;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #999;
  border-top: 0;
}

aside p:nth-child(1)::before {
  display: inline-block;
  content: "";
  background-image: url(../img/userSet/set_01.jpg);
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-size: cover;
}

aside p:nth-child(3)::before {
  display: inline-block;
  content: "";
  background-image: url(../img/userSet/set_03.jpg);
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-size: cover;
}

aside p:nth-child(5)::before {
  display: inline-block;
  content: "";
  background-image: url(../img/userSet/set_05.jpg);
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-size: cover;
}

aside p:nth-child(7)::before {
  display: inline-block;
  content: "";
  background-image: url(../img/userSet/set_07.jpg);
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-size: cover;
}

aside ul {
  color: #666;
  padding-left: 40px;
}

aside ul li {
  margin: 20px 0;
}

article {
  padding-left: 25px;
  width: 80%;
}

article .tab {
  border-bottom: 1px solid #ccc;
}

article .tab span {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-right: 20px;
}

article .tab span.active {
  background-color: #74c6b3;
  color: #fff;
  border-radius: 4px;
}

article .user-info-setting > li {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-top: 20px;
}

article .user-info-setting > li:first-child {
  justify-content: flex-start;
  height: 60px;
}

article .user-info-setting > li:first-child img {
  vertical-align: middle;
  width: 60px;
}

article .user-info-setting > li:last-child div {
  display: flex;
  align-items: center;
}

article .user-info-setting > li div {
  font-size: 0;
}

article .user-info-setting > li div span {
  font-size: 14px;
  margin-right: 40px;
}

article .user-info-setting > li div label {
  font-size: 14px;
}

article .user-info-setting > li div input[type=text], article .user-info-setting > li div p.select {
  height: 40px;
  font-size: 12px;
  outline: none;
  width: 260px;
  border: 1px solid #80C4AE;
  border-radius: 4px;
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 18px;
}

article .user-info-setting > li div p.select {
  display: inline-block;
  font-size: 16px;
  line-height: 38px;
  color: #666;
}

article .user-info-setting > li ul {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  width: 260px;
  border: 1px solid #80C4AE;
  border-radius: 4px;
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 18px;
}

article .user-info-setting > li ul li {
  height: 30px;
  line-height: 30px;
}

article .user-info-setting > li ul li:hover {
  background-color: plum;
}

article .user-info-setting > li ul:active {
  display: block;
}

article .user-info-setting > li:nth-child(4) ul {
  right: 0;
  top: 39px;
}

article .user-info-setting > li:nth-child(5) ul {
  top: 39px;
  left: 96px;
}
