/* 主体内容区头部样式 */
main .info-wrapper > p{
    font-size: 16px;
    line-height: 1;
    padding: 20px 0;
    border-bottom: 1px solid #bbb;
}
main .info-wrapper > p::before{
    content: "";
    display: inline-block;
    width: 5px;
    height: 20px;
    background-color: #f46a11;
    vertical-align: middle;
    margin-right: 10px;
}
main .info-wrapper > p span:last-child{
    font-size: 14px;
}
main .info-wrapper > p span:last-child::after{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top-color: black;
    border-bottom: 0;
    vertical-align: middle;
}
/* 主体内容区头部样式结束 */

.form-section{
    height: 400px;
    margin-top: 65px;
}
.form-section dt,
.form-section dd{
    float: left;
}
.form-section dt{
    width: 70px;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}
.form-section dd p{
    float: right;
    color: #7f7f7f;
    font-size: 14px;
}
.form-section dl{
    line-height:34px;
    margin-bottom: 16px;
}
.form-section input[type="text"]{
    height: 32px;
    line-height: 32px;
    width: 346px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #c3ab7d;
    margin: 0 10px;
    padding-left: 10px;
}
.form-section textarea{
    margin: 0 10px;
    box-sizing: border-box;
    width: 346px;
    height: 200px;
    resize: none;
    outline: none;
    border: 1px solid #c3ab7d;
    padding-left: 10px;
    padding-top: 5px;
}
.form-action input{
    margin: 0 10px;
    width: 88px;
    height: 35px;
    border: 0;
    border-radius: 4px;
    outline: none;
    color: #fff;
    
}
.form-action input.btn-confirm{
    background-color: #ea570a;
}
.form-action input.btn-cancel{
    background-color: #818181;
}
.form-section input:focus,
.form-section textarea:focus{
    outline: none;
}