* {
 margin:0;
 padding:0;
}
#container {
 background-color:#33FFCC;
 position:absolute;
 height:302px;
 width: 1000px;
 margin-top:10px;
 margin-left: 10px;
 border:10px dotted #666;
}
#leftContent {
 position:absolute; 
 top:2px;
 left:4px;
}
#rightContent {
	margin-left:350px;
	margin-top: 10px;
}
img{
 height:300px;
 width:300px;
}
h3 {
	font-size:25px;
	color:#0066CC;
	line-height:1.5em;
	border:5px dotted pink;
	margin-top: 40px;
	width: 600px;
}
span {
	color: red; font-size: 20px;
}