@import "./variable.scss";

#category {
    header {
        position: relative;
        width: 100%;
        max-width: 768px;
        background-image: linear-gradient(#ff6040, #ff8a80);
        padding: $headerPadding;

        h2 {
            text-align: center;
            font-size: $headerH2;
            color: #fff;
            margin-bottom: 0.16rem;
        }

        .search-wrapper-relative {
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: relative;
            width: 100%;
            height: 100%;
        }

        .searchLogo {
            position: absolute;
            top: 0.08rem;
            left: 0.2rem;
            background-image: url(../image/search.png);
            width: 0.18rem;
            height: 0.18rem;
            background-size: cover;
            border: 0;
        }

        .search-wrapper-relative input[type="text"] {
            outline: none;
            border: 0;
            width: 3.55rem;
            height: 0.32rem;
            padding: 0;
            padding-left: 0.34rem;
            box-sizing: border-box;
            border-radius: 0.2rem;


            font-size: .14rem;

            &::placeholder {
                font-size: .14rem;
            }
        }

        button {
            background-color: #ff6040;
            color: #fff;
            border: 0;
            border-radius: 0.2rem;

            position: absolute;
            right: .16rem;
            padding: 0.05rem .15rem;
        }
    }

    /* 中部样式开始 */
    article {
        display: flex;
        height: calc(100vh - #{$bottomNav} - 1.18rem);

        .left-wrapper {
            width: 1.18rem;
            height: 100%;
            background-color: #fff;
            overflow-y: auto;
            overflow-x: hidden;

            .all {
                font-size: .2rem;
            }

            li {
                height: 0.5rem;
                text-align: center;

                a {
                    display: block;
                    font-size: .2rem;
                    color: #999;
                    line-height: .5rem;

                    &.active {
                        color: #FF6040;
                        background-color: #f2f2f2;
                        border-left: 4px solid #fa5a39;
                    }
                }
            }
        }
    }
}