.right-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    background-color: #f1f1f1;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    section {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        margin-left: 2.5%;
        padding: 0.1rem;
        width: 95%;
        background-color: #fff;
        border-radius: .1rem;
        margin-top: .1rem;

        .imgBox {
            width: .8rem;
            height: .8rem;

            img {
                width: .8rem;
                height: .8rem;
                border-radius: .06rem;
            }
        }

        .info {
            flex: 1;
            position: relative;

            p {
                width: 1.5rem;

                &:nth-child(1) {
                    font-size: .14rem;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                &:nth-child(2) {
                    font-size: .18rem;
                    color: #ff6040;
                    font-weight: bold;

                    span {
                        font-size: .12rem;
                        color: #aaa;
                        text-decoration: line-through;
                        font-weight: normal;
                    }
                }

                &:nth-child(3){
                    font-size: .12rem;
                    color: #aaa;
                }
            }
            button{
                position: absolute;
                bottom: -0.1rem;
                right: 0;

                border: 0;
                border-radius: .2rem;
                background-color: #ff6040;
                color: #fff;
                font-size: .12rem;
            }
        }
    }
}